
.texto-descricao {
    display: flex;
    color:black;
    margin: px;
    
}

.main-content {
    display: flex;
    justify-content:center;
    align-items: center;
   margin: 1rem;
}

.cabeca-class {
    width: 50%;
    height: 10%;
    display: flex;
    
    
}

.cabeca {
    display: flex;
    justify-content:center;
    align-items: center;
}

.botao {
    width: 30%;
    height: 5.5rem;    
    cursor: pointer;
    text-decoration: none;
    font-size: 23px;   
    background: rgb(0, 26, 255);
    text-decoration: none;
    color: black;
    position: absolute;
    text-decoration: none;
}





@media (max-width: 800px) {
    .texto-descricao {
        display: flex;
        color:black;
        margin: px;
        
    }
    
    .main-content {
        max-width: 1200px;
        margin: 0 auto;
        align-items: center;
        padding: 5rem;
    
    }
    
    .grid-main-heading{
        margin-bottom: 0.1px;
    }
    
    .grid-description { 
        padding-bottom: 5rem;
    }
    
    .botao {
        width: 70%;
        height: 5.5rem;    
        cursor: pointer;
        text-decoration: none;
        font-size: 23px;   
        background: rgb(0, 26, 255);
           
        text-decoration: none;
        color: black;
        
        
    }
    .img-class {
        width: 80vw;
        height: 50vh;
    }

    .cabeca-class {
        width: 100vw;
    }
    




.close-menu-label::after {
    content: '≡';
    position: fixed;
    z-index: 2;
    top: 2rem;
    right: 2.5rem;
    background: var(--cor-primaria);
    color: white;
    font-size: 3rem ;
    line-height: 3rem;
    width: 3rem;
    height: 3rem;
    text-align: center;
    padding: 0.5rem;
    cursor: pointer;

}

.close-menu:checked~.menu {
    display: block;
}
.close-menu:checked~.close-menu-label::after {
    
    content: '✕' ;
}

.menu-spacing {
    display: none;
    
}

.back-to-top {
    position: fixed;
    bottom: 2rem;
    right: 1rem;
    background: rgb(0, 0, 0);
    width: 5rem;
    right: 2rem;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: var(--cor-primaria);
    font-size: 2.5rem;
    border: 0.1rem solid var(--cor-primaria);
}

}

.sobre {
    text-align: center;
    padding-top: 10px;
}

.sobre-h3 {
    font-size: 4rem;
}


.contato {
    background-color: rgb(23, 211, 39);
    
    height: 55px;
    width: 315px;
    position: absolute;
    right: 0;
    bottom:2rem;
    position: fixed;
    border-radius: 10rem;
}

.orcamento {
    font-size: 3.1rem;
    font-style: Arial;
    text-align:right ;
    padding: 0 10px;
    color: white;
    
}

.logo-whats {
    position: absolute;
    top: 2px;
    right: 26rem;
     left: 10px;
}

.orcamento:hover {
    color: red;
}

